<ion-header>
  <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
      <ion-title>Grid</ion-title>
    </ion-buttons>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
         <ion-col size="6" style="background:#FFFF">
          <ion-card>
              <ion-card-header>
                <img src="assets/d1.jpeg" width="20%" height="20%">
                <ion-card-title>Durango, Dgo</ion-card-title>
                <ion-card-subtitle>México</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                Durango, Dgo.- El conductor de una motocicleta resultó lesionado en el accidente que provocó la mañana
                del lunes    en la colonia Jardines de Cancún, de esta ciudad.
                La Dirección Municipal de Seguridad Pública (DMSP) informó que  el hecho vial sucedió a las 10:00 horas,
                en el crucero de las calles Tlaxcala y Vicente Suárez, cuando al invadir carril    una motocicleta 
                marca Andati, tipo Motoneta,  modelo 2009,   color blanco,   conducida por el  señor Jesús, de 55 años,
                choca contra una camioneta marca Ford, Escape, modelo 2001,  color arena,  que era manejada por Lorena
                de Jesús Janette, de 37 años.
                Al escenario de la colisión arribaron paramédicos de la Cruz Roja, los que en una ambulancia trasladaron 
                al motociclista al hospital 450, donde recibiría atención médica.
              </ion-card-content>
            </ion-card>
        
        
        </ion-col>
         <ion-col size="6">
            <ion-card>
                <ion-card-header>
                  <img src="assets/d2.jpg" width=20% height="20%">
                  <ion-card-title>CDMX</ion-card-title>
                  <ion-card-subtitle>México</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  Ciudad de México.- El SAT embargó a la aerolínea Interjet y designó una interventora “con cargo a la caja”, como parte de un procedimiento de intervención para el pago de adeudos fiscales generados entre los años 2013 y 2017.

                  De acuerdo con el diario Reforma, fue el pasado 27 de junio que la Administradora Desconcentrada de Recaudación decretó el procedimiento y ordenó a la interventora retener el 10 por ciento de todos los ingresos de Interjet para cubrir el pago de impuestos pendientes.
                  
                  El porcentaje consignado se sustraía una vez que se cumpliera con el pago de salarios y gastos operativos.
                  
                  Fue el 19 de julio que la aerolínea obtuvo de un juez federal una suspensión provisional contra la designación de la interventora, pero con la condición de que se garantizarán el 10 por ciento de todos sus ingresos mensuales en favor de la autoridad fiscal.
                  
                  Interjet rechazó esa medida por considerarla “incosteable” e impugnó el fallo del juez, pero el pasado 7 de agosto el Noveno Tribunal Colegiado en Materia Administrativa confirmó la resolución.
                  
                  La autoridad no específico el monto del adeudo fiscal de la aerolínea, pero indicó que se trata de créditos por los ejercicios 2013, 2014, 2015 y 2017, mismos que fueron pagados de manera parcial.
                  
                  Hasta el momento, la empresa no se ha pronunciado sobre el caso. En su argumentación ante el Tribunal Colegiado, la defensa expuso que el porcentaje pretendido para aseguramiento pondría en riesgo sus operaciones, pues sus ingresos no son homogéneos durante todo el año.
                  
                  Además, alertó que la inscripción de “embargo” a la empresa podría generar pánico entre sus acreedores y conducir a un escenario de quiebra o de desventaja ante sus competidores.
                </ion-card-content>
              </ion-card>
         </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
              <ion-card>
                  <ion-card-header>
                    <img src="assets/d3.png" width=20% height="20%">
                    <ion-card-title>Culiacan Sinaloa</ion-card-title>
                    <ion-card-subtitle>México</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                    El presidente municipal de Culiacán por Morena, Jesús Estrada Ferreiro calificó de inmoral y perverso al activista que divulgó en redes sociales, un video, en el que se aprecia a su hija abanicarse con billetes de 500 pesos, a bordo de una camioneta.

                    Las imágenes compartidas en redes sociales desataron toda clase de críticas y cuestionamientos por la conducta de la joven, por lo que su padre salió en su defensa y culpó al miembro del Consejo de Unidad Ciudadana de Sinaloa, Gabriel Campos, de ser el responsable de su divulgación.
                    
                    Estrada Ferreiro eludió hablar del contenido del video, en el que se aprecia a una de sus hijas sentada en una camioneta en movimiento, bailando al ritmo de la música con billetes de 500 pesos en la mano izquierda, usados como abanico para echarse aire.
                    
                    Apuntó que no va a permitir que se metan con su familia, por lo que la tiene que defender, sobre todo de las actitudes de algunos activistas, como Gabriel Campos, quien subió a redes sociales dicho video.
                    
                    Jesús Estrada afirmó que no va a presentar ninguna acción legal contra el responsable de la divulgación del video en redes sociales, puesto que no necesita mover un solo dedo, para que todo se le revierta.
                    
                    Por su parte, a través de su cuenta de Facebook la hija del edil reconoció ser ella la que aparece en el video, sin embargo, aclaró que el dinero no es de su propiedad, sino de la persona a la que acompañaba y quien la grabó.
                    
                    Señaló que el material no tendría que servir para difamar a a su padre, quien dijo, nada tuvo ni tiene que ver con el video difundido”.
                  </ion-card-content>
                </ion-card>

          </ion-col>

        </ion-row>
      </ion-grid>
</ion-content>
