<ion-header>
  <ion-toolbar>
    <ion-title>Contenido del modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <img src="assets/d4.jpg" width="20%" height="20%">
          <ion-card-subtitle>México</ion-card-subtitle>
          <ion-card-title>Mujer raya automóvil de presunto infiel y se vuelve viral</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          A través de redes sociales comenzaron a circular las imágenes de un automóvil rojo, estacionado afuera de un restaurante en Colima, rayado con un mensaje que exhibe la infidelidad de un hombre.

          Con el mensaje: “No que no eras casado” junto al dibujo de un cerdo, fue como una mujer en Colima descargo su furia al descubrir las mentiras de su pareja.
          
          El restaurante “La Porfiria”, ubicado en la avenida Ignacio Sandoval, difundió a través de Facebook las primeras imágenes del coche tipo jetta, color rojo, que permaneció estacionado afuera de sus instalaciones.
          
          “Aquí tranquilón en La Porfiria, el compa ya no quiere ni llegar a su casa”, escribieron en la publicación donde usuarios, que también se encontraron con el carro en otros puntos de la ciudad, comenzaron a dejar más imágenes.
                    
        </ion-card-content>
        <ion-button color="primary" (click)="salir()" expand="full">Salir </ion-button>
      </ion-card>
      
</ion-content>
